.mec {
    background-image: url("../assets/mec.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    width: 100%;
    backdrop-filter: blur(2px);
  }

.stuff{
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.48);
    color: rgb(29, 93, 182);
    min-height: 700px;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px) ;
    background-color: rgb(255, 255, 255,0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
  }
  
  .mec .card h2 {
    text-align: center;
    font-weight: bolder;
  }

  .card .card-content p {
    font-weight: bolder;
    font-size: 2.4vh; 
  }
  .mec .card-title{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
/* 

  .valign-wrapper {
    flex-wrap: wrap;
  } */
  /* .mainn .row .col {
    padding: 5px 10px;
  } */
  @media only screen and (max-width: 1050px) {

    .stuff .card h2 {
      font-size: 2.7rem;
    }
    .stuff .card p {
      font-weight: bold;
    }
    .mec .card:last-child{
        margin-top: 20px;
    }
  }

  @media (max-width: 600px) {
    .adj{
      width: 100%;
    }
  }