.link{
  text-decoration: none;
  color: #01579b;
}
.link:hover{
  text-decoration: underline;
  color:  #777777;
}
.backdrp{
  background-image: url('../../assets/hero.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}