.link{
  text-decoration: none;
  color: #01579b;
}
.link:hover{
  text-decoration: underline;
  color:  #777777;
}
.backdrp{
  background-image: url("../../assets/mec.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.partial 
{  
  border-radius: 20px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px) ;
  background-color: rgb(255, 255, 255,0.05);
  border-radius: 20px;
  min-height: 45vh;
}

.trial{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./trial.JPG");

}

@media screen and (min-width: 600){
  .constant-wrapper{
    justify-content: baseline;
    align-items: baseline;
  }
}
.constant-wrapper{
  position: absolute;
  height: calc(100vh);
  margin-top: 64px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  width: 100%;

}
