.link{
  text-decoration: none;
  color: #01579b;
}
.link:hover{
  text-decoration: underline;
  color:  #777777;
}
.backdrp{
  background-image: url("../../assets/mec.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -0.36%;
  height: 100vh;

  /* filter: blur(2px); */
}

path.outlogo {
  transform-origin: bottom right;
  transform-box: fill-box;
  animation: spin 6s cubic-bezier(.8, 0, .2, 1) infinite;
  @keyframes spin {
    50% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
  }
}


.partial 
{  
  border-radius: 20px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px) ;
  background-color: rgb(255, 255, 255,0.05);
  border-radius: 20px;
  min-height: 45vh;
}