
.bgdrp{
    background-image: url("./404.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media(min-width:900px){
    .bgdrp{
        margin-top: 15em;
    }
}
